---
import FashionLayout from "../layouts/FashionLayout.astro";
import { AnimatedText } from "../components/AnimatedText";
import CategorySelector from "@components/ui/category-selector";
---

<FashionLayout>
  <div class="flex h-screen items-center justify-center">
    <!-- <AnimatedText text="hello from fashion portfolio" client:load /> -->
  </div>
</FashionLayout>
