---
import FashionLayout from "../layouts/FashionLayout.astro";
import { AnimatedText } from "../components/AnimatedText";
---

<FashionLayout>
  <div class="flex h-screen items-center justify-center">
    <AnimatedText text="hello from fashion portfolio" client:load />
  </div>
</FashionLayout>
