---
import GraphicLayout from "../layouts/GraphicLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<GraphicLayout>
  <div class="flex h-screen items-center justify-center">
    <h1 class="text-5xl">hello from graphics portfolio</h1>
  </div>
</GraphicLayout>
