---
import CreativeFields from "@components/creative-fields.astro";
import Education from "@components/education.astro";
import Experiance from "@components/experiance.astro";
import { ProfileImage } from "@components/ui/profile-image";
import Tools from "@components/ui/tools";
import { getEntry } from "astro:content";

const creativeFields = await getEntry("about", "creativeFields");
const tools = await getEntry("about", "tools");
const experiances = await getEntry("about", "experiances");
const educations = await getEntry("about", "education");
---

<div class="mt-10 py-4">
  <ProfileImage />
  <div class="flex flex-col gap-8">
    <div class="mt-10 flex flex-col sm:flex-row sm:gap-4">
      <div class="flex flex-col gap-4">
        <CreativeFields creativeFields={creativeFields?.data} />
        <Tools tools={tools?.data} client:load />
      </div>
      <Education educations={educations?.data} />
    </div>
  </div>
  <Experiance experiances={experiances?.data} />
</div>
