---
import { Image } from "astro:assets";
import bg from "../assets/bg.jpg";
---

<div
  class="relative min-h-[calc(100vh_-_var(--header-height))] pt-[var(--header-height)]"
>
  <Image
    alt="background-wrapper"
    src={bg}
    class={"absolute opacity-20 w-full h-full object-cover"}
  />
  <div class="relative z-10 mx-auto max-w-[84rem]">
    <slot />
  </div>
</div>
