---
import { Image } from "astro:assets";
import { cn } from "@utils/utils";
import { animate } from "motion";
import graphicCategory from "../assets/design-category.jpg";
import fashionCategory from "../assets/fashion-category.jpg";
const images = [
  {
    name: "fashion",
    subtitle: "Fashion portfolio",
    path: "fashion",
  },
  {
    name: "graphic",
    subtitle: "Graphic portfolio",
    path: "graphic",
  },
];
<div class={cn("mt-20 p-10", "category-selector-container")}>
  <div class="flex flex-col gap-8 lg:justify-center">
    <h1 class="hidden text-balance px-4 text-center text-xl font-bold lg:block">
      Click any image below to explore
    </h1>
    <div class="flex flex-col items-center gap-8 p-4 lg:flex-row lg:justify-evenly lg:gap-4">
      {images.map(({ name, subtitle, path }) => {
        return (
          <a href={path}>
            <div class="relative cursor-pointer">
              <Image
                src={name === "graphic" ? graphicCategory : fashionCategory}
                alt={name}
                width={700}
                height={700}
                class="h-full"
              />
              <div class="absolute inset-0 flex items-center justify-center">
                <div class="absolute inset-0 bg-black opacity-60" />
                <span class="z-10 text-4xl font-bold uppercase tracking-wider text-white">
                  {subtitle}
                </span>
              </div>
            </div>
          </a>
        );
      })}
    </div>
  </div>
</div>;
---
