---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div id="container">
  <h1>hello from astro</h1>
  <a href="/graphic">Graphic</a>
  <a href="/fashion">Fashion</a>
</div>
