---
import Header from "@components/ui/header";
import "../base.css";
import "@fontsource-variable/montserrat";
import { ClientRouter } from "astro:transitions";
import BackgroundWrapper from "@components/background-wrapper.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astha Maurya</title>
    <ClientRouter />
  </head>
  <body>
    <Header currentUrl={Astro.url.pathname} client:load />
    <BackgroundWrapper>
      <slot />
    </BackgroundWrapper>
  </body><style>
    body {
      font-family: "Montserrat Variable", sans-serif;
    }
  </style>
</html>
